.book {
  background-color: $white_color;
  &_inner {
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .section_title {
      h2 {
        @include h2;
      }

      p {
        @include p;
      }
    }
    .filters {
      position: sticky;
      top: 9vh;
      background-color: $white_color;
      #book_filters {
        padding: 0;
        margin: 0 auto 20px auto;
        list-style: none;
        text-align: center;

        li {
          cursor: pointer;
          display: inline-block;
          padding: 8px 15px 10px 15px;
          font-size: 14px;
          font-weight: 600;
          line-height: 1;
          text-transform: uppercase;
          color: $gray_color;
          margin-bottom: 5px;
          transition: all 0.2s ease-in-out;
          border-radius: 3px;

          &:hover,
          &:active,
          &:focus {
            color: $white_color;
            background-color: $royalblue_color;
          }
        }
        
      }
    }


    .book_container {
      padding: 20px;
      overflow: scroll;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 20px;
      width: 100%;

      .book_item {
        box-shadow: 2px 2px 20px #ddd;
        border-radius: 4px;
      }
  
      .book_wrap {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        flex-direction: column;
        padding: 30px;
        height: 100%;

        img {
          width: 100%;
          margin-bottom: 5px;
        }
        .book_info {
          h3 {
            color: $gray_color;
            padding: 5px 0;
          }

          p {
            color: $gray_color;
            font-size: 14px;
            margin-bottom: 10px;
          }

          &_btn {
            @include btn;
          }
        }
      }
    }

    #no-results-message {
      text-align: center;
      font-size: 48px;
      color: $gray_color;
      border: 1px solid #333;
      padding: 20px 60px;
      border-radius: 4px;
      margin: 30px 0 100px 0; 
    }
  }
}

.breadcrumbs {
  padding-top: 15px;
  background-color: $white_color;
  margin-top: 70px;
  &_inner ul {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 14px;
    font-weight: 500;

    & li:first-child {
      color: $gray_color;
    }

    & li + li {
      padding-left: 10px;

      &::before {
        display: inline-block;
        padding-right: 10px;
        color: #3c3c3c;
        content: "/";
      }
    }
  }
}
