.footer {
  background-color: $white_color;
  box-shadow: 0 0 50px $white_gray_color;

  &_inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &_top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      width: 100%;

      .logo {
        a {
          font-size: 32px;
          font-family: $open_font;
          color: $royalblue_color;
          font-weight: bold;
        }
      }

      .social_media ul {
        display: flex;
        align-items: center;
        justify-content: center;

        li a i {
          padding: 3px;
          color: $royalblue_color;
          font-size: 25px;
          margin: 0 10px;

          &:hover {
            color: $royalblue_hover_color;
          }
        }
      }

      .footer_nav ul {
        display: flex;
        align-items: center;
        justify-content: center;

        li a {
          color: $gray_color;
          font-size: 15px;
          padding: 3px;
          margin: 0 10px;

          &:hover {
            color: $royalblue_color;
          }
        }
      }
    }

    &_bottom {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      p {
        font-weight: bold;
        padding: 10px;
      }
    }
  }
}
