.gallery {
  background-color: $white_color;
  &_inner {
    padding: 80px 0;
    .section_title {
      h2 {
        @include h2;
      }

      p {
        @include p;
      }
    }

    .gallery_pictures {
      display: grid;
      row-gap: 10px;
      column-gap: 10px;
      grid-template-columns: 1fr 1fr 1fr 1fr;

      .picture img {
        width: 300px;
        border-radius: 10px;
      }
    }

    .slide_show {
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .my_slide {
        position: absolute;
        inset: 0;
        overflow: hidden;
        transition-duration: 0.4s;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;

        &::before {
          content: "";
          background-color: rgba(0, 0, 0, 0.6);
          position: absolute;
          inset: 0;
        }
      }

      .fade {
        animation-name: fade;
        animation-duration: 1.5s;
      }

      @keyframes fade {
        from {
          display: none;
        }
        to {
          display: flex;
        }
      }
    }
  }
}

@media screen and (max-width: 1275px) {
  .gallery {
    &_inner {
      .gallery_pictures {
        display: grid;
        row-gap: 30px;
        column-gap: 30px;
        grid-template-columns: 1fr 1fr 1fr;

        .picture {
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 300px;
            border-radius: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .gallery {
    &_inner {
      .gallery_pictures {
        display: grid;
        row-gap: 30px;
        column-gap: 30px;
        grid-template-columns: 1fr 1fr;

        .picture {
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            width: 100%;
            border-radius: 10px;
          }
        }
      }
    }
  }
}
